<div class="container">
  <fieldset class="username">
    <h1>GitHub Score</h1>
    <form (submit)="calculateScore()" #formData="ngForm">
      GitHub Username:
      <input type="text" name='username' required [(ngModel)]="username">
      <button [disabled]="!formData.valid">Calculate my GitHub Score</button>
    </form>
  </fieldset>
  <fieldset class="display">
    <div *ngIf="userExists === true">
      <h1>Your Score: {{score}}</h1>
      <h3 class='red' *ngIf="score < 20">Needs Work!</h3>
      <h3 class='orange' *ngIf="score >= 20 && score < 50">A decent start!</h3>
      <h3 *ngIf="score >= 50 && score < 100">Doing good!</h3>
      <h3 class='green' *ngIf="score >= 100 && score < 200">Great Job!</h3>
      <h3 class='blue' *ngIf="score >= 200">GitHub Elite!</h3>
    </div>
    <div *ngIf="userExists === false">
      <h3>User does not exist, pick a different GitHub username.</h3>
    </div>
    <div *ngIf="scoreExists === null"></div>
  </fieldset>
</div>